[submodule "Ngspice_Benchmark/circuit_examples/device_models/sky130_fd_pr"]
	path = Ngspice_Benchmark/circuit_examples/device_models/sky130_fd_pr
	url = https://github.com/efabless/skywater-pdk-libs-sky130_fd_pr.git
