[submodule "Ngspice_Benchmark/circuit_examples/device_models/sky130_fd_pr"]
	path = Ngspice_Benchmark/circuit_examples/device_models/sky130_fd_pr
	url = https://github.com/efabless/skywater-pdk-libs-sky130_fd_pr.git
[submodule "Optimization_algorithm/TuRBO"]
	path = Optimization_algorithm/TuRBO
	url = https://github.com/uber-research/TuRBO
[submodule "Optimization_algorithm/tSS_BO"]
	path = Optimization_algorithm/tSS_BO
	url = https://github.com/PascalInn/tSS-BO
